@import "tailwindcss";

@theme {
  --font-cairo: "Cairo", sans-serif;
  --font-amiri: "Amiri", serif;
  
  --color-memorial-black: #050505;
  --color-memorial-dark: #111111;
  --color-memorial-green: #0a2e1d;
  --color-memorial-yellow: #d4af37;
  --color-memorial-red: #4a0404;
}

body {
  background-color: var(--color-memorial-black);
  color: white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button {
  cursor: pointer;
}
